In [1]:
import numpy as np
import pandas as pd
from nltk.corpus import stopwords
import nltk
import re

In [125]:
# import nltk
# nltk.download()

### Stop words / Function words removing.

Data input :

In [2]:
NorthAmerica = pd.read_csv("rawdata/trends/1206/NorthAmerica_Trends1206.csv",sep = ",", header = 0)

#NorthAmerica.columns = ['time','tweet','hashtags','location']
NorthAmerica.columns = ['time','tweet','hashtags','place', 'location']
print len(NorthAmerica.index)
NorthAmerica = NorthAmerica.drop_duplicates(subset='tweet',keep='last') #remove the duplicate tweets
print len(NorthAmerica.index)


TwitterData = NorthAmerica
TwitterData.head()

43140
19468

,time,tweet,hashtags,place,location
0,Sun Dec 06 12:29:32 +0000 2015,Actor Morgan Freeman unhurt after plane's forc...,NaN,NaN,NaN
6,Sun Dec 06 12:29:32 +0000 2015,#YouAintNoMuslimBruv London Pride,YouAintNoMuslimBruv,NaN,NaN
7,Sun Dec 06 12:29:32 +0000 2015,Breaking News:The second message of The Supre...,YouCanDoItLiam PlaylistE1 CABASM,NaN,NaN
8,Sun Dec 06 12:29:32 +0000 2015,#MTVStars One Direction https://t.co/QAUgm4aaEN,MTVStars,NaN,NaN
9,Sun Dec 06 12:29:32 +0000 2015,@sanjaymanjrekar Fascinating to watch @amlahas...,IndvsSA,NaN,NaN

### Cleaning, Tokenization and Stemming

Remove stopwords :

we define a function for cleaning the tweets.

In [3]:
#stemming
from nltk.stem.snowball import SnowballStemmer
#from __future__ import print_function, unicode_literals
# Create p_stemmer of class PorterStemmer
s_stemmer = SnowballStemmer("english")

def filter_tweet (sample):
    stopped_tokens = [re.sub(r'(^https?:\/\/.*[\r\n]*)|(@[A-Za-z0-9]+)|(#[A-Za-z0-9]+)|(\n)|([^\w])|(RT)',
                '', word, flags=re.MULTILINE) for word in sample.split(" ") if word not in stopwords.words('english')] 
    filtered_sample = filter(None,stopped_tokens)
    filtered_sample = [s_stemmer.stem(i).lower() for i in filtered_sample] 
    #filtered_sample = [s_stemmer(i.lower()) for i in filtered_sample]
    filtered_sample = " ".join(filtered_sample)
    return filtered_sample

### Build the List of tweets :

In [4]:
ListTweets = [filter_tweet(tweet) for tweet in TwitterData.tweet.values]

### Test by sampling :

In [5]:
#sample
sample_index = 5
print TwitterData.tweet.values[sample_index]+"\n\n"
print ListTweets[sample_index]

I got a warm feeling with zayn's rt #ZaynsStill1DAF


i got warm feel zayn rt

In [6]:

print filter_tweet(TwitterData.tweet.values[115])
print TwitterData.tweet.values[115]

liam payn babi i am so so proud of youyou this we know can and stumbl well you
LIAM PAYNE BABY I AM SO SO PROUD OF YOU...you can do this, We all know you can. And if you stumble, we'll all be here for you#YouCanDoItLiam

In [7]:
#lower for hashtags
ListHashtags =[str(hashtag).lower() for hashtag in TwitterData.hashtags.values]

### Save the cleaned data to a data frame

In [8]:
TwitterData_cleaned = pd.DataFrame({"tweet": ListTweets, 
                                   "hashtags": ListHashtags,
                                   "location": TwitterData.location})

In [9]:
TwitterData_cleaned.to_csv("predata/NorthAmerica_Trends_cleaned.csv", sep = ",", header = True, index = False)

In [10]:
TwitterData_cleaned[0:10]

,hashtags,location,tweet
0,nan,NaN,actor morgan freeman unhurt plane forc land
6,youaintnomuslimbruv,NaN,london pride
7,youcandoitliam playliste1 cabasm,NaN,break newsth second messag the suprem leadersa...
8,mtvstars,NaN,one direct
9,indvssa,NaN,fascin watch amp even thoughenough variat bowler
12,zaynsstill1daf,NaN,i got warm feel zayn rt
14,nan,NaN,break news the second letter islam revolut leader
16,nan,NaN,_scout look like south carolina get thir 6th 7...
17,youcandoitliam,NaN,_liam_payn well know easi youin good time bad ...
18,youaintnomuslimbruv youaintnopatriot,NaN,post divis propaganda aid isil caus real briti...

# Trends Pre-processing 

We will save two pandas.dataframe to store the 'keywords' and 'hashtags' seprately.

In [11]:
Trends = pd.read_csv("rawdata/trends/1206/Trends1206.csv",sep = ",", header = 0)

Trends.head()

              createdAt               trend
0  2015-12-06T12:21:40Z        Ayesha Curry
1  2015-12-06T12:21:40Z     #YouCanDoItLiam
2  2015-12-06T12:21:40Z  #LosDeChavezAVotar
3  2015-12-06T12:21:40Z    #6DCambiemosVzla
4  2015-12-06T12:21:40Z           #WetMusic

In [12]:
ListTrends =[str(hashtag).lower() for hashtag in Trends.trend.values]
ListTrends[0:10]

['ayesha curry',
 '#youcandoitliam',
 '#losdechavezavotar',
 '#6dcambiemosvzla',
 '#wetmusic',
 '#youaintnomuslimbruv',
 'jim ross',
 'good sunday',
 'aden',
 'ysabel']

In [13]:
Hashtags_cleaned = pd.DataFrame({"hashtag": [word[1:] for word in ListTrends if "#" in word]})
Hashtags_cleaned = Hashtags_cleaned.drop_duplicates(subset='hashtag',keep='last')
print len(Hashtags_cleaned)
Hashtags_cleaned.head()

40

         hashtag
10  felizdomingo
13    reenergise
14      onepiece
18         iotwf
23       ptxinsf

In [14]:
Keywords_cleaned = pd.DataFrame({"keyword": [word for word in ListTrends if "#" not in word]})
Keywords_cleaned = Keywords_cleaned.drop_duplicates(subset='keyword',keep='last')
print len(Keywords_cleaned)
Keywords_cleaned.head()

29

           keyword
4           ysabel
7   morgan freeman
8    todos a votar
9   archie griffin
11          nelena

In [15]:
Hashtags_cleaned.to_csv("predata/Hashtags_cleaned1206.csv", sep = ",", header = True, index = False)
Keywords_cleaned.to_csv("predata/Keywords_cleaned1206.csv", sep = ",", header = True, index = False)